<div class="container">
    <div class="row bg bg-ligth bg-gradient rounded p-3">
        <div class=" d-flex flex-column col-12 col-md-4 p-3 text-left">
            <div class="d-flex align-items-center justify-content-center">
                <img src= '../../../assets/Logo_Live_Job.png' alt="" width="175px" height="150px">
                <!-- <h2>LiveJob</h2> -->
            </div>

            <h2 class="fw-bold mt-3">Welcome Back!</h2>
            

        </div>
    </div>
    
    <div class="container p-3 mt-3 mb-5">
        <div class="row d-flex">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input [(ngModel)] = "email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  <div id="emailHelp" class="form-text">We'll never share your personal information with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input [(ngModel)] = 'password'  type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <button type="submit" class="btn btn-primary w-100 rounded-pill" (click) = 'login()'>Sign Up</button>
              </form>
        </div>
    
    </div>

    <div class="container p-3 mt-5">
        <div class="row d-flex justify-content-center mt-3">
             <p>Don't you have an account? Sign Up</p>
             <button type="submit" class="btn btn-light w-75 rounded-pill border">Sign Up</button>
        </div>
    
    </div>
</div>

