<div class="container">
    <div class="row bg bg-primary rounded">
        <div class=" d-flex flex-column col-12 col-md-4 align-items-center">

            <img class="rounded-circle w-25"  src="https://fakeimg.pl/250x250/" alt="">

            <div class="d-flex flex-column align-items-center flex-wrap">
                <h2>Fake Name</h2>
                <p>Fake age</p>
                <p>Fake Village, Fake City</p>

            </div>

        </div>
    </div>
    
    <div class="container p-3 d-flex align-items-center">
        <i class="far fa-envelope me-2"></i>
        <p class="m-0">fakemail@fake.com</p>
    </div>

    <div class="container p-3 d-flex align-items-center">
        <i class="fas fa-phone-alt me-2"></i>
        <p class="m-0">fake number phone</p>
    </div>

    <div class="container p-3 d-flex align-items-center">
        <i class="far fa-calendar-minus me-2"></i>
        <p class="m-0">fake date</p>
    </div>

    <div class="container p-3 d-flex justify-content-center">
        <p class="m-0 text-center text-primary">Ver otros datos</p>
    </div>

    <div class="container p-3 d-flex flex-column border-top border-5">
        <div class="d-flex justify-content-between">
            <h4>Experiencias</h4>
            <h4>Añadir</h4>
        </div>
    </div>
    <div class="border-top border-2 text-center">
        <p>No tiene experiencias añadidas</p>
    </div>

    <div class="container p-3 d-flex flex-column border-top border-5">
        <div class="d-flex justify-content-between">
            <h4>Experiencias</h4>
            <h4>Añadir</h4>
        </div>
    </div>
    <div class="border-top border-2 text-center">
        <p>No tiene experiencias añadidas</p>
    </div>


    <div class="container p-3 d-flex flex-column border-top border-5">
        <div class="d-flex justify-content-between">
            <h4>Experiencias</h4>
            <h4>Añadir</h4>
        </div>
    </div>
    <div class="border-top border-2 text-center">
        <p>No tiene experiencias añadidas</p>
    </div>


    <div class="container p-3 d-flex flex-column border-top border-5">
        <div class="d-flex justify-content-between">
            <h4>Experiencias</h4>
            <h4>Añadir</h4>
        </div>
    </div>
    <div class="border-top border-2 text-center">
        <p>No tiene experiencias añadidas</p>
    </div>



</div>

