<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <li class="nav-item d-flex flex-column align-items-center w-25">
    <i class="fas fa-search"></i>
    <a class="nav-link active" aria-current="page" routerLink = "/">Buscador</a>
  </li>
  <li class="nav-item d-flex flex-column align-items-center w-25">
    <i class="fas fa-briefcase"></i>
    <a class="nav-link" routerLink = '/ofertas'>Ofertas</a>
  </li>
  <li class="nav-item d-flex flex-column align-items-center w-25">
    <i class="fas fa-user-alt"></i>
    <a class="nav-link" routerLink = '/cv'>CV</a>
  </li>
  <li class="nav-item d-flex flex-column align-items-center w-25">
    <i class="fas fa-bullhorn"></i>
    <a class="nav-link" href="#">Live</a>
  </li>
</nav>

