<div class="container">
    <div class="row bg bg-primary rounded">
        <div class=" d-flex col-12 col-md-4 p-3 justify-content-center">
            <i class="fas fa-search align-self-center me-2"></i>
            <input type="text" class="form-control text-center w-75 fs-6" placeholder="Puesto, empresa o clave" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    
    <div class="container p-3 mt-3 mb-3">
        <div class="row d-flex" *ngFor= 'let job of jobs' >
            <div class=" d-flex col-12 col-md-4 border rounded">
                <div class="d-flex flex-column align-items-start w-50">
                    <p class="me-2 fs-3 fw-bold p-1">{{job.title}}</p>
                </div>
                <div class="d-flex flex-column w-50 m-5 mt-2">
        
                    <p>{{job.city}}</p>
                    <a href="{{job.link}}"> More Details</a>
        
                </div>
            </div>
        </div>
    
    </div>
</div>